/* Nav Bar */
.nav {
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  background-color: black;
}

.nav-container {
  background-color: black;
}

.nav-item-container {
  list-style-type: none;
}

.nav-item {
  text-decoration: none;
  list-style-type: none;
  color: coral;
}


/* Home page  - Btn design by https://github.com/uihaven/ui-buttons */
.begin-banner-container {
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.begin-banner-text {
  font-size: 24px;

}



.begin-banner-btn,
.begin-banner-btn *,
.begin-banner-btn :after,
.begin-banner-btn :before,
.begin-banner-btn:after,
.begin-banner-btn:before {
  border: 0 solid;
  box-sizing: border-box;
}
.begin-banner-btn {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.begin-banner-btn:disabled {
  cursor: default;
}
.begin-banner-btn:-moz-focusring {
  outline: auto;
}
.begin-banner-btn svg {
  display: block;
}
.begin-banner-btn [hidden] {
  display: none;
}
.begin-banner-btn {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.begin-banner-btn span {
  mix-blend-mode: difference;
}
.begin-banner-btn:before {
  aspect-ratio: 1;
  background: #fff;
  border-radius: 50%;
  content: "";
  left: -100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1);
  transform-origin: left center;
  transition: transform 0.2s ease;
  width: 100%;
}
.begin-banner-btn:hover:before {
  transform: translateY(-50%) scale(2);
}